$font-size: 1rem;
$font-color: lch(53 105 40);

html {
    font-size: $font-size;
    color: $font-color;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#root {
    overflow: hidden;
    // height: 100vh;
}
